.articles{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1500px;
    &__items{
        display: flex;
        flex-wrap: wrap;
        gap:10px;
        max-width:1500px;
        &._mobile{
            max-width:700px;
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        width:330px;
        height:920px;
        background:@main-iconColor;
        align-self: center;
        margin:0 auto;
    }
    &__head{
        flex-grow: .1;
        &-link{
            &::before{
                pointer-events: none;
                content: "";
                position: absolute;
                height: 250px;
                object-fit: cover;
                width: 330px;
                background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
                mix-blend-mode: screen;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
        }
        &-icon{
            object-fit: cover;
            border-top-left-radius:8px;
            border-top-right-radius:8px;
            height:250px;
        }
    }
    &__main{
        display: flex;
        flex-direction:column;
        padding:0px 15px 0px 15px;
        gap:10px;
        flex-grow: .8;
        &-text{
            .basic-font(20);
            font-family: 'Times New Roman', Times, serif;
            font-weight: 300;
            color:#474747;
            letter-spacing:.1em;
        }
        &-textLink{
            text-decoration: none;
            color:#0089c7;
            &:hover{
                cursor: pointer;
            }
            &:active{
                text-decoration: none;
                color:#0089c7;
            }
            &:hover{
                opacity: .66;
            }
        }
        &-codeText{
            background:#ffeff0;
        }
    }

    &__footer{
        display:flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        padding: 0px 0px 10px 20px;;
        flex-grow: .1;
        &-container{
            display: flex;
            align-items:center;
            gap:5px;
        }
        &-link{
            align-self: flex-end;
        }
        &-icon{
            border-radius: 50%;
        }
        &-text{
            .basic-font(18);
            color:#565656;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 300;
        }
        &-link{
            text-decoration: none;
            color:black;
            font-weight: 800;
            &:active{
                color:black;
            }
            &:hover{
                opacity: .66;
            }
        }
    }

    &__titlearticle{
        &-text{
            text-decoration: none;
            .basic-font(32);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            letter-spacing:-.005em;
            color:black;
        }
    }
    &__titlelist{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap:10px;
        &-link{
            align-self: center;
            .basic-font(12);
            color:@footer-titleColor;
            text-decoration: none;
            &:hover{
                opacity: .66;
            }
        }
    }

    &__btn{
        width:100%;
        height:55px;
        align-self: flex-end;
        margin:0 auto;
        background-color: #5e5e5e;
        .basic-font(16);
        color: #fff;
        border: 0;
        border-bottom: 1px solid #262626;
        border-right: 1px solid #262626;
        box-shadow: inset 1px 1px 0 #777, 0 2px 3px rgb(0 0 0 / 40%);
        display: inline-block;
        font-weight: 700;
        border-radius: 4px;
        white-space: nowrap;
        text-align: center;
        transition: .07s;
        position: relative;
        text-decoration: none;
        margin-top: 10px;
        &:hover{
            cursor: pointer;
            opacity: .66;
        }
        &:active{
            outline:none;
        }
        @media (max-width:425px){
            font-size: 14px;
            width:90%;
            height:50px;
            margin-top: 0px;
        }
    }

    &__advertisement{
        display: flex;
        justify-content:center;
        align-items:flex-start;
        width:430px;
        &._mobile{
            display: none;
        }
        &-item{
            opacity: 0;
            position:sticky;
            transition:.5s;
            top:5%;
            width:300px;
            height:600px;
            background:url("../../img/plug1.PNG") no-repeat;
            background-size: contain;
            &._active{
                opacity: 1;
            }
        }
    }
}